flow.json
[{"id":"c96a9fce.90f1a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16df53be.dbf41c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"db943692.cb9708","type":"sqlitedb","z":"","db":"/Users/admin/dev/workspace-braxton/sqlite/database"},{"id":"c97d0428.e6a398","type":"inject","z":"c96a9fce.90f1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87.77777438693576,"y":34.88889503479004,"wires":[["75735c7e.f5fc84"]]},{"id":"9998b0cf.bfcd6","type":"template","z":"c96a9fce.90f1a","name":"Select Values 00:00:00 and 06:30:00","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '0-6:30' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '00:00:00'  \n    and '06:29:59' order by time desc;","output":"str","x":251.22225952148438,"y":108.55555725097656,"wires":[["f1037cba.7a7d1"]]},{"id":"f1037cba.7a7d1","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":471.22218322753906,"y":108.44443702697754,"wires":[["aa72bfe2.973f5"]]},{"id":"142f4565.1d418b","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":671.1111450195312,"y":108.99996948242188,"wires":[]},{"id":"6f3a19c5.a70418","type":"link in","z":"c96a9fce.90f1a","name":"split per day","links":["142f4565.1d418b","2da5fb30.0a4aa4","433cf1e4.3d533","6634011.77673","9492c60c.279b68","e4449e19.90973"],"x":41.66666793823242,"y":498.00006103515625,"wires":[["ce6f524c.5b8b4"]]},{"id":"ce6f524c.5b8b4","type":"split","z":"c96a9fce.90f1a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":171.22222900390625,"y":498,"wires":[["2112c163.a65e5e"]]},{"id":"2112c163.a65e5e","type":"function","z":"c96a9fce.90f1a","name":"","func":"bucketName = msg.payload.bucket;\n\n\nif(msg.payload.empty){\n    flow.set(bucketName,{\"empty\":true,bucket :bucketName});\n    return msg;\n    \n}\n\nvar bucket = flow.get(bucketName) || {};\nvar obj = bucket[msg.payload.date];\n\nif(!obj) obj = {max:0 , min:Number.MAX_SAFE_INTEGER};\n\nif(msg.payload.demand >  obj.max)\n{\n    obj.max = msg.payload\n}else if(msg.payload.demand < obj.min)\n{\n    obj.min = msg.payload\n}\nbucket[msg.payload.date] = obj;\nflow.set(bucketName,bucket);\n\nreturn msg;","outputs":1,"noerr":0,"x":327.6666564941406,"y":498.11114501953125,"wires":[["b4591de8.056ec"]]},{"id":"b4591de8.056ec","type":"join","z":"c96a9fce.90f1a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":466.7777099609375,"y":498.11114501953125,"wires":[["77848421.321a2c"]]},{"id":"e4ea1cb0.3b429","type":"link out","z":"c96a9fce.90f1a","name":"","links":["ce447a7.d072688"],"x":693.111083984375,"y":499.22222900390625,"wires":[]},{"id":"add7f9aa.bcbcb8","type":"link in","z":"c96a9fce.90f1a","name":"0 - 6:30","links":["75735c7e.f5fc84"],"x":49.444440841674805,"y":109.9999885559082,"wires":[["9998b0cf.bfcd6"]]},{"id":"75735c7e.f5fc84","type":"link out","z":"c96a9fce.90f1a","name":"","links":["33ad7429.13c22c","add7f9aa.bcbcb8","b6c386fe.5f57d8","d0910c1d.62045","f477b18a.59a54","fdab633f.d623b"],"x":182.22221851348877,"y":35.5555534362793,"wires":[]},{"id":"1d1f75d4.7e090a","type":"join","z":"c96a9fce.90f1a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.bucket","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":134.44444274902344,"y":667.77783203125,"wires":[["7bdb3bc2.0ed884"]]},{"id":"74fadf40.5efc9","type":"link in","z":"c96a9fce.90f1a","name":"join","links":["7413ce4e.c3bd6","18c9589a.085967"],"x":40.55555725097656,"y":667.7778043746948,"wires":[["1d1f75d4.7e090a"]]},{"id":"7bdb3bc2.0ed884","type":"debug","z":"c96a9fce.90f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":303.777774810791,"y":667.7777891159058,"wires":[]},{"id":"4cf3155f.15c1bc","type":"template","z":"c96a9fce.90f1a","name":"Select Values  06:30:00 and 16:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '06:30:00-16:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '06:30:00'  \n    and '16:59:59' order by time desc;","output":"str","x":253.44443469577368,"y":164.55554389953613,"wires":[["d3ef233d.d1b26"]]},{"id":"d3ef233d.d1b26","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":473.44435840182837,"y":164.4444236755371,"wires":[["153edfb1.7794a"]]},{"id":"2da5fb30.0a4aa4","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":669.3333129882812,"y":163.9999542236328,"wires":[]},{"id":"fdab633f.d623b","type":"link in","z":"c96a9fce.90f1a","name":"06:30 - 17","links":["75735c7e.f5fc84"],"x":51.66661601596411,"y":165.99997520446777,"wires":[["4cf3155f.15c1bc"]]},{"id":"3e41176.b83f9e8","type":"template","z":"c96a9fce.90f1a","name":"Select Values 17:00:00 and 17:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select ' 17:00:00-17:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '17:00:00'  \n    and '17:59:59' order by time desc;","output":"str","x":252.33336067199707,"y":216.77777290344238,"wires":[["d61ffc5f.11b54"]]},{"id":"d61ffc5f.11b54","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":472.33328437805176,"y":216.66665267944336,"wires":[["58261102.e0e9"]]},{"id":"433cf1e4.3d533","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":670.2222290039062,"y":215.22218322753906,"wires":[]},{"id":"f477b18a.59a54","type":"link in","z":"c96a9fce.90f1a","name":"17:00:00 and 17:59:59","links":["75735c7e.f5fc84"],"x":50.5555419921875,"y":218.22220420837402,"wires":[["3e41176.b83f9e8"]]},{"id":"d0d0222b.7cb89","type":"template","z":"c96a9fce.90f1a","name":"Select Values 18:00:00 and 20:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '18:00:00-20:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 18:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '18:00:00'  \n    and '20:59:59' order by time desc;","output":"str","x":250.11116218566895,"y":267.8888874053955,"wires":[["625134f5.c9862c"]]},{"id":"625134f5.c9862c","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":470.11108589172363,"y":267.7777671813965,"wires":[["c59a5218.1a986"]]},{"id":"9492c60c.279b68","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":672.0000610351562,"y":268.3332977294922,"wires":[]},{"id":"33ad7429.13c22c","type":"link in","z":"c96a9fce.90f1a","name":"18:00:00 and 20:59:59","links":["75735c7e.f5fc84"],"x":48.333343505859375,"y":269.33331871032715,"wires":[["d0d0222b.7cb89"]]},{"id":"29809452.6dbccc","type":"template","z":"c96a9fce.90f1a","name":"Select Values 21:00:00 and 21:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '21:00:00-21:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '21:00:00'  \n    and '21:59:59' order by time desc;","output":"str","x":246.77781867980957,"y":319.00000190734863,"wires":[["4292629d.0980fc"]]},{"id":"4292629d.0980fc","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":466.77774238586426,"y":318.8888816833496,"wires":[["547430ba.ce885"]]},{"id":"6634011.77673","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":673.6666870117188,"y":319.4444274902344,"wires":[]},{"id":"b6c386fe.5f57d8","type":"link in","z":"c96a9fce.90f1a","name":"21:00:00 and 21:59:59","links":["75735c7e.f5fc84"],"x":45,"y":320.4444332122803,"wires":[["29809452.6dbccc"]]},{"id":"cf2cd4fd.0dc368","type":"template","z":"c96a9fce.90f1a","name":"Select Values 22:00:00 and 23:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '22:00:00-23:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '22:00:00'  \n    and '23:59:59' order by time desc;","output":"str","x":246.77777820163305,"y":372.3333148956299,"wires":[["a4210631.5c1108"]]},{"id":"a4210631.5c1108","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":466.77770190768774,"y":372.22219467163086,"wires":[["3f4ae025.46024"]]},{"id":"e4449e19.90973","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":672.6666870117188,"y":370.7777404785156,"wires":[]},{"id":"d0910c1d.62045","type":"link in","z":"c96a9fce.90f1a","name":"22:00:00 and 23:59:59","links":["75735c7e.f5fc84"],"x":44.999959521823484,"y":373.7777462005615,"wires":[["cf2cd4fd.0dc368"]]},{"id":"77848421.321a2c","type":"function","z":"c96a9fce.90f1a","name":"","func":"bucketName  = msg.payload[0].bucket;\nvar bucket  = flow.get(bucketName);\nmsg.payload = bucket;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":499,"wires":[["e4ea1cb0.3b429"]]},{"id":"ce447a7.d072688","type":"link in","z":"c96a9fce.90f1a","name":"reduce","links":[],"x":37.5,"y":592,"wires":[["e75a2ae6.c8a068"]]},{"id":"e75a2ae6.c8a068","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.empty){\n    return msg;\n}\n\nvar values = [];\nvar bucketName ;\n\nObject.keys(msg.payload).forEach(\n    key  => {\n            \n            obj = msg.payload[key];\n            bucketName = obj.max.bucket;\n            result = obj.max.demand  - obj.min.demand;\n            values.push(result);\n    }\n)\n\nmsg.payload = {};\nmsg.payload.result = values.reduce((a,b) => parseFloat(a) + parseInt(b));\nmsg.payload.bucket = bucketName;\n\nreturn msg;","outputs":1,"noerr":0,"x":129,"y":591,"wires":[["18c9589a.085967"]]},{"id":"18c9589a.085967","type":"link out","z":"c96a9fce.90f1a","name":"","links":["74fadf40.5efc9"],"x":222,"y":591,"wires":[]},{"id":"45edadde.c42be4","type":"comment","z":"c96a9fce.90f1a","name":"Reduce Flow","info":"","x":92.5,"y":553,"wires":[]},{"id":"473f90d9.c1368","type":"comment","z":"c96a9fce.90f1a","name":"split per day","info":"","x":95,"y":449,"wires":[]},{"id":"6845df38.5319d","type":"comment","z":"c96a9fce.90f1a","name":"Join","info":"","x":74,"y":633,"wires":[]},{"id":"aa72bfe2.973f5","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'0-6:30'})\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":109,"wires":[["142f4565.1d418b"]]},{"id":"153edfb1.7794a","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'06:30:00-16:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":165,"wires":[["2da5fb30.0a4aa4"]]},{"id":"58261102.e0e9","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :\"17:00:00-17:59:59\"})\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":216,"wires":[["433cf1e4.3d533"]]},{"id":"c59a5218.1a986","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'18:00:00-20:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":267,"wires":[["9492c60c.279b68"]]},{"id":"547430ba.ce885","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'21:00:00-21:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":319,"wires":[["6634011.77673"]]},{"id":"3f4ae025.46024","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'22:00:00-23:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":372,"wires":[["e4449e19.90973"]]},{"id":"3d99397.10390c6","type":"inject","z":"16df53be.dbf41c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":93,"y":31,"wires":[["8290e306.09194"]]},{"id":"ca641e93.b9ba5","type":"template","z":"16df53be.dbf41c","name":"Select Values 00:00:00 and 06:30:00","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '0-6:30' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-09 23:59:59'\n    and hour between '00:00:00'  \n    and '06:29:59' order by time desc;","output":"str","x":490.4444779290093,"y":102.66666030883789,"wires":[["49752d09.323da4"]]},{"id":"49752d09.323da4","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":710.444401635064,"y":102.55554008483887,"wires":[["e44cc7b3.b97fe8"]]},{"id":"a98344d3.fc04d8","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":910.3333634270562,"y":103.1110725402832,"wires":[]},{"id":"ff5c8344.01b7c","type":"link in","z":"16df53be.dbf41c","name":"split per day","links":["a98344d3.fc04d8","626934c7.0ae89c","e6facda9.a4389","11adfd61.6ae873","bec4f190.f7277","9e2503e6.17989"],"x":49.88889355129663,"y":495.1111660003662,"wires":[["15c0ac.5d058f55"]]},{"id":"15c0ac.5d058f55","type":"split","z":"16df53be.dbf41c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":176.44445461697046,"y":494.11110496520996,"wires":[["d357745e.270e78"]]},{"id":"d357745e.270e78","type":"function","z":"16df53be.dbf41c","name":"","func":"bucketName = msg.payload.bucket;\n\n\nif(msg.payload.empty){\n    flow.set(bucketName,{\"empty\":true,bucket :bucketName});\n    return msg;\n    \n}\n\nvar bucket = flow.get(bucketName) || {};\nvar obj = bucket[msg.payload.date];\n\nif(!obj) obj = {max:0 , min:Number.MAX_SAFE_INTEGER};\n\nif(msg.payload.demand >  obj.max)\n{\n    obj.max = msg.payload\n}else if(msg.payload.demand < obj.min)\n{\n    obj.min = msg.payload\n}\nbucket[msg.payload.date] = obj;\nflow.set(bucketName,bucket);\n\nreturn msg;","outputs":1,"noerr":0,"x":332.88888210720484,"y":494.2222499847412,"wires":[["790cbeb7.10be6"]]},{"id":"790cbeb7.10be6","type":"join","z":"16df53be.dbf41c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":471.9999355740017,"y":494.2222499847412,"wires":[["6923ebc0.f735b4"]]},{"id":"2a5e9900.e79af6","type":"link out","z":"16df53be.dbf41c","name":"","links":["d5ab7e24.22eb5"],"x":698.3333095974392,"y":495.3333339691162,"wires":[]},{"id":"13dc25bd.13f04a","type":"link in","z":"16df53be.dbf41c","name":"0 - 6:30","links":["8290e306.09194"],"x":29.66670693291553,"y":101.11108779907227,"wires":[["98865b8b.d960e8"]]},{"id":"8290e306.09194","type":"link out","z":"16df53be.dbf41c","name":"","links":["7635d0cc.1fd1b","13dc25bd.13f04a","59cb87dd.0a3d08","ab1f181a.925be8","b8e7e045.d9ca2","bfbb2f91.8d815"],"x":337.44445461697046,"y":30.666658401489258,"wires":[]},{"id":"2f781475.27434c","type":"join","z":"16df53be.dbf41c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.bucket","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":139.66666836208765,"y":663.88893699646,"wires":[["c019dbac.938d08"]]},{"id":"37fd1f2b.818e8","type":"link in","z":"16df53be.dbf41c","name":"join","links":["7413ce4e.c3bd6","219a2e69.242242"],"x":45.77778286404077,"y":663.8889093399048,"wires":[["2f781475.27434c"]]},{"id":"c019dbac.938d08","type":"debug","z":"16df53be.dbf41c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":309.0000004238552,"y":663.8888940811157,"wires":[]},{"id":"dd51c151.c62c2","type":"template","z":"16df53be.dbf41c","name":"Select Values  06:30:00 and 16:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '06:30:00-16:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '06:30:00'  \n    and '16:59:59' order by time desc;","output":"str","x":492.6666531032986,"y":158.66664695739746,"wires":[["db1bc090.55904"]]},{"id":"db1bc090.55904","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":712.6665768093533,"y":158.55552673339844,"wires":[["e275b64b.5b65a8"]]},{"id":"626934c7.0ae89c","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":908.5555313958062,"y":158.11105728149414,"wires":[]},{"id":"bfbb2f91.8d815","type":"link in","z":"16df53be.dbf41c","name":"06:30 - 17","links":["8290e306.09194"],"x":31.888882107204836,"y":157.11107444763184,"wires":[["cf35bcc6.4a03e"]]},{"id":"a0cdbbb.9f0c048","type":"template","z":"16df53be.dbf41c","name":"Select Values 17:00:00 and 17:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '17:00:00-17:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-09 23:59:59'\n    and hour between '17:00:00'  \n    and '17:59:59' order by time desc;","output":"str","x":491.555579079522,"y":210.8888759613037,"wires":[["1646ba21.fe5b86"]]},{"id":"1646ba21.fe5b86","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":711.5555027855767,"y":210.7777557373047,"wires":[["8b78daf2.03fc88"]]},{"id":"e6facda9.a4389","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":909.4444474114312,"y":209.3332862854004,"wires":[]},{"id":"b8e7e045.d9ca2","type":"link in","z":"16df53be.dbf41c","name":"17:00:00 and 17:59:59","links":["8290e306.09194"],"x":30.777808083428226,"y":209.3333034515381,"wires":[["9e9b3a4.ac7a7c8"]]},{"id":"d991d8ce.0fbf58","type":"template","z":"16df53be.dbf41c","name":"Select Values 18:00:00 and 20:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '18:00:00-20:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 18:00:00'  \n    and '2018-05-26 23:59:59'\n    and hour between '18:00:00'  \n    and '20:59:59' order by time desc;","output":"str","x":489.33338059319385,"y":261.99999046325684,"wires":[["61b1b987.f33058"]]},{"id":"61b1b987.f33058","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":709.3333042992485,"y":261.8888702392578,"wires":[["52ea48d4.712a58"]]},{"id":"bec4f190.f7277","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":919.2222794426812,"y":262.4444007873535,"wires":[]},{"id":"7635d0cc.1fd1b","type":"link in","z":"16df53be.dbf41c","name":"18:00:00 and 20:59:59","links":["8290e306.09194"],"x":28.5556095971001,"y":260.4444179534912,"wires":[["61de8b9a.ec8894"]]},{"id":"8382225f.5a02c","type":"template","z":"16df53be.dbf41c","name":"Select Values 21:00:00 and 21:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '21:00:00-21:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-09 23:59:59'\n    and hour between '21:00:00'  \n    and '21:59:59' order by time desc;","output":"str","x":486.0000370873345,"y":313.11110496520996,"wires":[["e5fc8435.d93bd8"]]},{"id":"e5fc8435.d93bd8","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":705.9999607933892,"y":312.99998474121094,"wires":[["5314632e.827d5c"]]},{"id":"11adfd61.6ae873","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":912.8889054192437,"y":313.5555305480957,"wires":[]},{"id":"59cb87dd.0a3d08","type":"link in","z":"16df53be.dbf41c","name":"21:00:00 and 21:59:59","links":["8290e306.09194"],"x":25.222266091240726,"y":311.55553245544434,"wires":[["318e54dd.863a7c"]]},{"id":"819c6874.15af48","type":"template","z":"16df53be.dbf41c","name":"Select Values 22:00:00 and 23:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select '22:00:00-23:59:59' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-09 23:59:59'\n    and hour between '22:00:00'  \n    and '23:59:59' order by time desc;","output":"str","x":485.99999660915796,"y":366.4444179534912,"wires":[["efc8d873.dc08e8"]]},{"id":"efc8d873.dc08e8","type":"sqlite","z":"16df53be.dbf41c","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":705.9999203152126,"y":366.3332977294922,"wires":[["ac0412f4.e709a"]]},{"id":"9e2503e6.17989","type":"link out","z":"16df53be.dbf41c","name":"select range out","links":["ff5c8344.01b7c"],"x":911.8889054192437,"y":364.88884353637695,"wires":[]},{"id":"ab1f181a.925be8","type":"link in","z":"16df53be.dbf41c","name":"22:00:00 and 23:59:59","links":["8290e306.09194"],"x":25.22222561306421,"y":364.8888454437256,"wires":[["fa7da84.429d358"]]},{"id":"6923ebc0.f735b4","type":"function","z":"16df53be.dbf41c","name":"","func":"bucketName  = msg.payload[0].bucket;\nvar bucket  = flow.get(bucketName);\nmsg.payload = bucket;\nreturn msg;","outputs":1,"noerr":0,"x":605.2222256130642,"y":495.11110496520996,"wires":[["2a5e9900.e79af6"]]},{"id":"d5ab7e24.22eb5","type":"link in","z":"16df53be.dbf41c","name":"reduce","links":["2a5e9900.e79af6"],"x":42.72222561306421,"y":588.11110496521,"wires":[["c743acac.98b04"]]},{"id":"c743acac.98b04","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.empty){\n    return msg;\n}\n\nvar bucketName ;\n\n let values =  Object.keys(msg.payload).map(\n    key  => {\n            \n            obj = msg.payload[key];\n            bucketName = obj.max.bucket;\n            result = obj.max.demand  - obj.min.demand;\n            return result;\n    }\n)\n\nmsg.payload = {};\nmsg.payload.result = values.reduce((a,b) => parseFloat(a) + parseFloat(b));\nmsg.payload.bucket = bucketName;\n\nreturn msg;","outputs":1,"noerr":0,"x":134.2222256130642,"y":587.11110496521,"wires":[["219a2e69.242242"]]},{"id":"219a2e69.242242","type":"link out","z":"16df53be.dbf41c","name":"","links":["37fd1f2b.818e8"],"x":233.2222256130642,"y":587.11110496521,"wires":[]},{"id":"48d100f5.736e9","type":"comment","z":"16df53be.dbf41c","name":"Reduce Flow","info":"","x":97.72222561306421,"y":549.11110496521,"wires":[]},{"id":"6f0af404.13180c","type":"comment","z":"16df53be.dbf41c","name":"split per day","info":"","x":100.22222561306421,"y":447.11110496520996,"wires":[]},{"id":"982cab63.718028","type":"comment","z":"16df53be.dbf41c","name":"Join","info":"","x":79.22222561306421,"y":629.11110496521,"wires":[]},{"id":"e44cc7b3.b97fe8","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'0-6:30'})\nreturn msg;","outputs":1,"noerr":0,"x":830.2222184075249,"y":103.11110305786133,"wires":[["a98344d3.fc04d8"]]},{"id":"e275b64b.5b65a8","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'teste'})\nreturn msg;","outputs":1,"noerr":0,"x":827.2222184075249,"y":159.11110305786133,"wires":[["626934c7.0ae89c"]]},{"id":"8b78daf2.03fc88","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :\"17:00:00-17:59:59\"})\nreturn msg;","outputs":1,"noerr":0,"x":830.2222184075249,"y":210.11110305786133,"wires":[["e6facda9.a4389"]]},{"id":"52ea48d4.712a58","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'18:00:00-20:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":835.2222184075249,"y":261.1111030578613,"wires":[["bec4f190.f7277"]]},{"id":"5314632e.827d5c","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'21:00:00-21:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":825.2222184075249,"y":313.1111030578613,"wires":[["11adfd61.6ae873"]]},{"id":"ac0412f4.e709a","type":"function","z":"16df53be.dbf41c","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true, bucket :'22:00:00-23:59:59'})\nreturn msg;","outputs":1,"noerr":0,"x":828.2222184075249,"y":366.1111030578613,"wires":[["9e2503e6.17989"]]},{"id":"98865b8b.d960e8","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"0-6:30","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":150.7222256130642,"y":101.11110496520996,"wires":[["ca641e93.b9ba5"]]},{"id":"cf35bcc6.4a03e","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"06:30:00-16:59:59","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":185.2222256130642,"y":157.11110496520996,"wires":[["dd51c151.c62c2"]]},{"id":"9e9b3a4.ac7a7c8","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"17:00:00-17:59:59","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":186.2222256130642,"y":209.11110496520996,"wires":[["a0cdbbb.9f0c048"]]},{"id":"61de8b9a.ec8894","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"18:00:00-20:59:59","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":181.2222256130642,"y":260.11110496520996,"wires":[["d991d8ce.0fbf58"]]},{"id":"318e54dd.863a7c","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"21:00:00-21:59:59","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":183.2222256130642,"y":313.11110496520996,"wires":[["8382225f.5a02c"]]},{"id":"fa7da84.429d358","type":"change","z":"16df53be.dbf41c","name":"","rules":[{"t":"set","p":"22:00:00-23:59:59","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":182.2222256130642,"y":366.11110496520996,"wires":[["819c6874.15af48"]]}]