flow.json
[{"id":"c96a9fce.90f1a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db943692.cb9708","type":"sqlitedb","z":"","db":"/Users/admin/dev/workspace-braxton/sqlite/database"},{"id":"c97d0428.e6a398","type":"inject","z":"c96a9fce.90f1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87.77777438693576,"y":34.88889503479004,"wires":[["75735c7e.f5fc84"]]},{"id":"9998b0cf.bfcd6","type":"template","z":"c96a9fce.90f1a","name":"Select Values 00:00:00 and 06:30:00","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'bucket1' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '00:00:00'  \n    and '06:29:59' order by time desc;","output":"str","x":251.22225952148438,"y":108.55555725097656,"wires":[["f1037cba.7a7d1"]]},{"id":"f1037cba.7a7d1","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":471.22218322753906,"y":108.44443702697754,"wires":[["142f4565.1d418b"]]},{"id":"142f4565.1d418b","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":560.1111431121826,"y":108.99997329711914,"wires":[]},{"id":"6f3a19c5.a70418","type":"link in","z":"c96a9fce.90f1a","name":"split per day","links":["142f4565.1d418b","2da5fb30.0a4aa4","433cf1e4.3d533","9492c60c.279b68","6634011.77673","e4449e19.90973"],"x":49.66666793823242,"y":469.00006103515625,"wires":[["597a4354.6a28cc"]]},{"id":"ce6f524c.5b8b4","type":"split","z":"c96a9fce.90f1a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":157.22222137451172,"y":530,"wires":[["2112c163.a65e5e"]]},{"id":"2112c163.a65e5e","type":"function","z":"c96a9fce.90f1a","name":"","func":"bucketName = msg.payload.bucket;\n\n\nif(msg.payload.empty){\n    flow.set(bucketName,{\"empty\":true,bucket :'empty'});\n    return msg;\n    \n}\n\nvar bucket = flow.get(bucketName) || {};\nvar obj = bucket[msg.payload.date];\n\nif(!obj) obj = {max:0 , min:Number.MAX_SAFE_INTEGER};\n\nif(msg.payload.demand >  obj.max)\n{\n    obj.max = msg.payload\n}else if(msg.payload.demand < obj.min)\n{\n    obj.min = msg.payload\n}\nbucket[msg.payload.date] = obj;\nflow.set(bucketName,bucket);\n\nreturn msg;","outputs":1,"noerr":0,"x":306.66667005750867,"y":531.1111437479655,"wires":[["b4591de8.056ec"]]},{"id":"b4591de8.056ec","type":"join","z":"c96a9fce.90f1a","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":427.77772521972656,"y":531.1111698150635,"wires":[["77848421.321a2c"]]},{"id":"e4ea1cb0.3b429","type":"link out","z":"c96a9fce.90f1a","name":"","links":["ce447a7.d072688"],"x":708.111083984375,"y":529.2222290039062,"wires":[]},{"id":"add7f9aa.bcbcb8","type":"link in","z":"c96a9fce.90f1a","name":"0 - 6:30","links":["75735c7e.f5fc84"],"x":49.444440841674805,"y":109.9999885559082,"wires":[["9998b0cf.bfcd6"]]},{"id":"75735c7e.f5fc84","type":"link out","z":"c96a9fce.90f1a","name":"","links":["33ad7429.13c22c","add7f9aa.bcbcb8","b6c386fe.5f57d8","d0910c1d.62045","f477b18a.59a54","fdab633f.d623b"],"x":182.22221851348877,"y":35.5555534362793,"wires":[]},{"id":"1d1f75d4.7e090a","type":"join","z":"c96a9fce.90f1a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload.bucket","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":156.44444274902344,"y":686.77783203125,"wires":[["7bdb3bc2.0ed884"]]},{"id":"74fadf40.5efc9","type":"link in","z":"c96a9fce.90f1a","name":"join","links":["7413ce4e.c3bd6","18c9589a.085967"],"x":62.55555725097656,"y":686.7778043746948,"wires":[["1d1f75d4.7e090a"]]},{"id":"7bdb3bc2.0ed884","type":"debug","z":"c96a9fce.90f1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":325.777774810791,"y":686.7777891159058,"wires":[]},{"id":"4cf3155f.15c1bc","type":"template","z":"c96a9fce.90f1a","name":"Select Values  06:30:00 and 16:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'bucket2' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '06:30:00'  \n    and '16:59:59' order by time desc;","output":"str","x":253.44443469577368,"y":164.55554389953613,"wires":[["d3ef233d.d1b26"]]},{"id":"d3ef233d.d1b26","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":473.44435840182837,"y":164.4444236755371,"wires":[["2da5fb30.0a4aa4"]]},{"id":"2da5fb30.0a4aa4","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":562.3333182864719,"y":164.9999599456787,"wires":[]},{"id":"fdab633f.d623b","type":"link in","z":"c96a9fce.90f1a","name":"06:30 - 17","links":["75735c7e.f5fc84"],"x":51.66661601596411,"y":165.99997520446777,"wires":[["4cf3155f.15c1bc"]]},{"id":"3e41176.b83f9e8","type":"template","z":"c96a9fce.90f1a","name":"Select Values 17:00:00 and 17:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'backet3' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 00:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '17:00:00'  \n    and '17:59:59' order by time desc;","output":"str","x":252.33336067199707,"y":216.77777290344238,"wires":[["d61ffc5f.11b54"]]},{"id":"d61ffc5f.11b54","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":472.33328437805176,"y":216.66665267944336,"wires":[["433cf1e4.3d533"]]},{"id":"433cf1e4.3d533","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":561.2222442626953,"y":217.22218894958496,"wires":[]},{"id":"f477b18a.59a54","type":"link in","z":"c96a9fce.90f1a","name":"17:00:00 and 17:59:59","links":["75735c7e.f5fc84"],"x":50.5555419921875,"y":218.22220420837402,"wires":[["3e41176.b83f9e8"]]},{"id":"d0d0222b.7cb89","type":"template","z":"c96a9fce.90f1a","name":"Select Values 18:00:00 and 20:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'backet4' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 18:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '18:00:00'  \n    and '20:59:59' order by time desc;","output":"str","x":250.11116218566895,"y":267.8888874053955,"wires":[["625134f5.c9862c"]]},{"id":"625134f5.c9862c","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":470.11108589172363,"y":267.7777671813965,"wires":[["9492c60c.279b68"]]},{"id":"9492c60c.279b68","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":559.0000457763672,"y":268.3333034515381,"wires":[]},{"id":"33ad7429.13c22c","type":"link in","z":"c96a9fce.90f1a","name":"18:00:00 and 20:59:59","links":["75735c7e.f5fc84"],"x":48.333343505859375,"y":269.33331871032715,"wires":[["d0d0222b.7cb89"]]},{"id":"29809452.6dbccc","type":"template","z":"c96a9fce.90f1a","name":"Select Values 21:00:00 and 21:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'backet5' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '21:00:00'  \n    and '21:59:59' order by time desc;","output":"str","x":246.77781867980957,"y":319.00000190734863,"wires":[["4292629d.0980fc"]]},{"id":"4292629d.0980fc","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":466.77774238586426,"y":318.8888816833496,"wires":[["6634011.77673"]]},{"id":"6634011.77673","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":555.6667022705078,"y":319.4444179534912,"wires":[]},{"id":"b6c386fe.5f57d8","type":"link in","z":"c96a9fce.90f1a","name":"21:00:00 and 21:59:59","links":["75735c7e.f5fc84"],"x":45,"y":320.4444332122803,"wires":[["29809452.6dbccc"]]},{"id":"cf2cd4fd.0dc368","type":"template","z":"c96a9fce.90f1a","name":"Select Values 22:00:00 and 23:59:59","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select 'backet5' as bucket,\n    demand  , \n    strftime('%H:%M:%S',time) as hour ,\n    strftime('%Y-%m-%d',time) as date ,\n    time as datetime\n    from demanda\n    where \n    time between '2018-04-12 21:00:00'  \n    and '2018-05-11 23:59:59'\n    and hour between '22:00:00'  \n    and '23:59:59' order by time desc;","output":"str","x":246.77777820163305,"y":372.3333148956299,"wires":[["a4210631.5c1108"]]},{"id":"a4210631.5c1108","type":"sqlite","z":"c96a9fce.90f1a","mydb":"db943692.cb9708","sqlquery":"msg.topic","sql":"","name":"SQLite","x":466.77770190768774,"y":372.22219467163086,"wires":[["e4449e19.90973"]]},{"id":"e4449e19.90973","type":"link out","z":"c96a9fce.90f1a","name":"select range out","links":["6f3a19c5.a70418"],"x":555.6666617923313,"y":372.77773094177246,"wires":[]},{"id":"d0910c1d.62045","type":"link in","z":"c96a9fce.90f1a","name":"22:00:00 and 23:59:59","links":["75735c7e.f5fc84"],"x":44.999959521823484,"y":373.7777462005615,"wires":[["cf2cd4fd.0dc368"]]},{"id":"597a4354.6a28cc","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.length === 0 )\n    msg.payload.push({\"empty\":true,bucket :'empty'})\nreturn msg;","outputs":1,"noerr":0,"x":139.5,"y":466,"wires":[["ce6f524c.5b8b4"]]},{"id":"77848421.321a2c","type":"function","z":"c96a9fce.90f1a","name":"","func":"bucketName  = msg.payload[0].bucket;\nvar bucket  = flow.get(bucketName);\nmsg.payload = bucket;\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":530,"wires":[["e4ea1cb0.3b429"]]},{"id":"ce447a7.d072688","type":"link in","z":"c96a9fce.90f1a","name":"reduce","links":[],"x":59.5,"y":611,"wires":[["e75a2ae6.c8a068"]]},{"id":"e75a2ae6.c8a068","type":"function","z":"c96a9fce.90f1a","name":"","func":"if(msg.payload.empty){\n    return msg;\n}\n\nvar values = [];\nvar bucketName ;\n\nObject.keys(msg.payload).forEach(\n    key  => {\n            \n            obj = msg.payload[key];\n            bucketName = obj.max.bucket;\n            result = obj.max.demand  - obj.min.demand;\n            values.push(result);\n    }\n)\n\nmsg.payload = {};\nmsg.payload.result = values.reduce((a,b) => parseFloat(a) + parseInt(b));\nmsg.payload.bucket = bucketName;\n\nreturn msg;","outputs":1,"noerr":0,"x":152,"y":609,"wires":[["18c9589a.085967"]]},{"id":"18c9589a.085967","type":"link out","z":"c96a9fce.90f1a","name":"","links":["74fadf40.5efc9"],"x":245,"y":609,"wires":[]}]